<div class="d-flex justify-content-center">
  <div class="col-8">
    <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
      <h2 id="myUserLabel">Create or edit a user</h2>

      <jhi-alert-error></jhi-alert-error>

      <div [hidden]="!editForm.value.id" class="mb-3">
        <label>ID</label>
        <input class="form-control" formControlName="id" name="id" readonly type="text" />
      </div>
      <div class="mb-3">
        <label class="form-label">First name</label>
        <input class="form-control" formControlName="first_name" name="first_name" type="text" />

        <div *ngIf="editForm.get('first_name')!.invalid && (editForm.get('first_name')!.dirty || editForm.get('first_name')!.touched)">
          <small *ngIf="editForm.get('first_name')?.errors?.maxlength" class="form-text text-danger">
            This field cannot be longer than 50 characters.
          </small>
        </div>
      </div>

      <div class="mb-3">
        <label>Last name</label>
        <input class="form-control" formControlName="last_name" name="last_name" type="text" />

        <div *ngIf="editForm.get('last_name')!.invalid && (editForm.get('last_name')!.dirty || editForm.get('last_name')!.touched)">
          <small *ngIf="editForm.get('last_name')?.errors?.maxlength" class="form-text text-danger">
            This field cannot be longer than 50 characters.
          </small>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Email</label>
        <input class="form-control" formControlName="email" name="email" type="email" />

        <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
          <small *ngIf="editForm.get('email')?.errors?.required" class="form-text text-danger"> This field is required. </small>

          <small *ngIf="editForm.get('email')?.errors?.maxlength" class="form-text text-danger">
            This field cannot be longer than 100 characters.
          </small>

          <small *ngIf="editForm.get('email')?.errors?.minlength" class="form-text text-danger">
            This field is required to be at least 5 characters.
          </small>

          <small *ngIf="editForm.get('email')?.errors?.email" class="form-text text-danger"> Your email is invalid. </small>
        </div>
      </div>

      <!--      <div class="form-check">-->
      <!--        <label class="form-check-label" for="activated">-->
      <!--          <input-->
      <!--            class="form-check-input"-->
      <!--            [attr.disabled]="editForm.value.id === undefined ? 'disabled' : null"-->
      <!--            type="checkbox"-->
      <!--            id="activated"-->
      <!--            name="activated"-->
      <!--            formControlName="activated"-->
      <!--          />-->
      <!--          <span>Activated</span>-->
      <!--        </label>-->
      <!--      </div>-->

      <div class="mb-3">
        <label>Profiles</label>
        <select class="form-control" formControlName="authorities" multiple name="authority">
          <option *ngFor="let authority of authorities" [value]="authority">{{ authority }}</option>
        </select>
      </div>
      <button (click)="previousState()" class="btn btn-secondary" type="button">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
      </button>

      <button [disabled]="editForm.invalid || isSaving" class="btn btn-primary" type="submit">
        <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
      </button>
    </form>
  </div>
</div>
