<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="httpLog">
      <h2 data-cy="httpLogDetailsHeading"><span>Http Log</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ httpLog.id }}</span>
        </dd>
        <dt><span>Request Timestamp</span></dt>
        <dd>
          <span>{{ httpLog.request_timestamp | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Http Method</span></dt>
        <dd>
          <span>{{ httpLog.http_method }}</span>
        </dd>
        <dt><span>Request Url</span></dt>
        <dd>
          <span>{{ httpLog.request_url }}</span>
        </dd>
        <dt><span>Http Status Code</span></dt>
        <dd>
          <span>{{ httpLog.http_status_code }}</span>
        </dd>
        <dt><span>Remote IP Address</span></dt>
        <dd>
          <span>{{ httpLog.remote_ip_address }}</span>
        </dd>
        <dt><span>Duration</span></dt>
        <dd>
          <span>{{ httpLog.duration }}</span>
        </dd>
        <dt><span>Request Headers</span></dt>
        <dd>
          <span>{{ httpLog.request_headers }}</span>
        </dd>
        <dt><span>Response Headers</span></dt>
        <dd>
          <span>{{ httpLog.response_headers }}</span>
        </dd>
        <dt><span>Request URL Parameters</span></dt>
        <dd>
          <span>{{ httpLog.request_url_parameters }}</span>
        </dd>
        <dt><span>Request Body</span></dt>
        <dd>
          <span>{{ httpLog.request_body }}</span>
        </dd>
        <dt><span>Request Cookies</span></dt>
        <dd>
          <span>{{ httpLog.request_cookies }}</span>
        </dd>
        <dt><span>Response Cookies</span></dt>
        <dd>
          <span>{{ httpLog.response_cookies }}</span>
        </dd>
        <dt><span>Application</span></dt>
        <dd>
          <div *ngIf="httpLog.application">
            <a [routerLink]="['/application', httpLog.application.id, 'view']">{{ httpLog.application.code }}</a>
          </div>
        </dd>
      </dl>

      <button (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton" type="submit">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button [routerLink]="['/http-log', httpLog.id, 'edit']" class="btn btn-primary" type="button">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
