<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <h2 *ngIf="settingsForm.value.email">
        User settings for [<strong>{{ settingsForm.value.email }}</strong
        >]
      </h2>

      <div *ngIf="success" class="alert alert-success">
        <strong>Settings saved!</strong>
      </div>

      <jhi-alert-error></jhi-alert-error>

      <form (ngSubmit)="save()" *ngIf="settingsForm.value.email" [formGroup]="settingsForm" name="form" novalidate role="form">
        <div class="mb-3">
          <label class="form-label" for="first_name">First Name</label>
          <input
            class="form-control"
            data-cy="first_name"
            formControlName="first_name"
            id="first_name"
            name="first_name"
            placeholder="Your first name"
            type="text"
          />

          <div
            *ngIf="
              settingsForm.get('first_name')!.invalid && (settingsForm.get('first_name')!.dirty || settingsForm.get('first_name')!.touched)
            "
          >
            <small *ngIf="settingsForm.get('first_name')?.errors?.required" class="form-text text-danger">
              Your first name is required.
            </small>

            <small *ngIf="settingsForm.get('first_name')?.errors?.minlength" class="form-text text-danger">
              Your first name is required to be at least 1 character
            </small>

            <small *ngIf="settingsForm.get('first_name')?.errors?.maxlength" class="form-text text-danger">
              Your first name cannot be longer than 50 characters
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="last_name">Last Name</label>
          <input
            class="form-control"
            data-cy="last_name"
            formControlName="last_name"
            id="last_name"
            name="last_name"
            placeholder="Your last name"
            type="text"
          />

          <div
            *ngIf="
              settingsForm.get('last_name')!.invalid && (settingsForm.get('last_name')!.dirty || settingsForm.get('last_name')!.touched)
            "
          >
            <small *ngIf="settingsForm.get('last_name')?.errors?.required" class="form-text text-danger">
              Your last name is required.
            </small>

            <small *ngIf="settingsForm.get('last_name')?.errors?.minlength" class="form-text text-danger">
              Your last name is required to be at least 1 character
            </small>

            <small *ngIf="settingsForm.get('last_name')?.errors?.maxlength" class="form-text text-danger">
              Your last name cannot be longer than 50 characters
            </small>
          </div>
        </div>

        <!--        <div class="mb-3">-->
        <!--          <label class="form-label" for="email">Email</label>-->
        <!--          <input-->
        <!--            type="email"-->
        <!--            class="form-control"-->
        <!--            id="email"-->
        <!--            name="email"-->
        <!--            placeholder="Your email"-->
        <!--            formControlName="email"-->
        <!--            data-cy="email"-->
        <!--          />-->

        <!--          <div *ngIf="settingsForm.get('email')!.invalid && (settingsForm.get('email')!.dirty || settingsForm.get('email')!.touched)">-->
        <!--            <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.required"> Your email is required. </small>-->

        <!--            <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.email"> Your email is invalid. </small>-->

        <!--            <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.minlength">-->
        <!--              Your email is required to be at least 5 characters.-->
        <!--            </small>-->

        <!--            <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.maxlength">-->
        <!--              Your email cannot be longer than 50 characters.-->
        <!--            </small>-->
        <!--          </div>-->
        <!--        </div>-->

        <button [disabled]="settingsForm.invalid" class="btn btn-primary" data-cy="submit" type="submit">Save</button>
      </form>
    </div>
  </div>
</div>
