<div class="entity-container">
  <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
    <div class="row">
      <div class="p-3 round-card col-6">
        <p>Reports</p>
        <canvas [data]="pieChartData" [labels]="pieChartLabels" baseChart chartType="pie"></canvas>
      </div>

      <div class="p-3 round-card col-6">
        <p>Reports</p>
        <canvas [data]="pieChartData" [labels]="pieChartLabels" baseChart chartType="pie"></canvas>
      </div>
    </div>

    <div class="detail-row align-items-center mt-3">
      <div class="mat-elevation-z1 px-4 py-3 d-flex round-card col-3 white-bg">
        <div class="d-flex flex-column">
          <h3 class="m-0">{{ specimenCount }}</h3>
          <p class="m-0">count</p>
        </div>
      </div>

      <span class="mx-2"></span>

      <div class="mat-elevation-z1 px-4 py-3 d-flex round-card col-3 white-bg">
        <div class="d-flex flex-column">
          <h3 class="m-0">{{ doctorCount }}</h3>
          <p class="m-0">count</p>
        </div>
      </div>

      <span class="mx-2"></span>
      <div class="mat-elevation-z1 px-4 py-3 d-flex round-card col-3 white-bg">
        <div class="d-flex flex-column">
          <h3 class="m-0">{{ referringCenterCount }}</h3>
          <p class="m-0">count</p>
        </div>
      </div>
    </div>
  </div>
</div>
