<form (ngSubmit)="confirmDelete(alertSubscriber.id!)" *ngIf="alertSubscriber" name="deleteForm">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="alertSubscriberDeleteDialogHeading">Confirm delete operation</h4>

    <button (click)="cancel()" aria-hidden="true" class="btn-close" data-dismiss="modal" type="button">&times;</button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <p id="jhi-delete-alertSubscriber-heading">Are you sure you want to delete Alert Subscriber {{ alertSubscriber.id }} ?</p>
  </div>

  <div class="modal-footer">
    <button (click)="cancel()" class="btn btn-secondary" data-dismiss="modal" type="button">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
    </button>

    <button class="btn btn-danger" data-cy="entityConfirmDeleteButton" id="jhi-confirm-delete-alertSubscriber" type="submit">
      <fa-icon icon="times"></fa-icon>&nbsp;<span>Delete</span>
    </button>
  </div>
</form>
