<div>
  <h2 data-cy="TokenHeading" id="page-heading">
    <span>Tokens</span>

    <div class="d-flex justify-content-end">
      <button (click)="load()" [disabled]="isLoading" class="btn btn-info me-2">
        <fa-icon [spin]="isLoading" icon="sync"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        [routerLink]="['/token/new']"
        class="btn btn-primary jh-create-entity create-token"
        data-cy="entityCreateButton"
        id="jh-create-entity"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Token </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div *ngIf="tokens?.length === 0" class="alert alert-warning" id="no-result">
    <span>No Tokens found</span>
  </div>

  <div *ngIf="tokens && tokens.length > 0" class="table-responsive table-entities" id="entities">
    <table aria-describedby="page-heading" class="table table-striped">
      <thead>
        <tr (sortChange)="navigateToWithComponentValues()" [(ascending)]="ascending" [(predicate)]="predicate" jhiSort>
          <th jhiSortBy="id" scope="col">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th jhiSortBy="access_token" scope="col">
            <div class="d-flex">
              <span>Access Token</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th jhiSortBy="refresh_token" scope="col">
            <div class="d-flex">
              <span>Refresh Token</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th jhiSortBy="expiry_date" scope="col">
            <div class="d-flex">
              <span>Expiry Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th jhiSortBy="is_active" scope="col">
            <div class="d-flex">
              <span>Is Active</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th jhiSortBy="application.code" scope="col">
            <div class="d-flex">
              <span>Application</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let token of tokens; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/token', token.id, 'view']">{{ token.id }}</a>
          </td>
          <td>{{ token.access_token }}</td>
          <td>{{ token.refresh_token }}</td>
          <td>{{ token.expiry_date | formatMediumDate }}</td>
          <td>{{ token.is_active }}</td>
          <td>
            <div *ngIf="token.application">
              <a [routerLink]="['/application', token.application.id, 'view']">{{ token.application.code }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button [routerLink]="['/token', token.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton" type="submit">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button [routerLink]="['/token', token.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton" type="submit">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button (click)="delete(token)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton" type="submit">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="tokens && tokens.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        (pageChange)="navigateToPage($event)"
        [boundaryLinks]="true"
        [collectionSize]="totalItems"
        [maxSize]="5"
        [pageSize]="itemsPerPage"
        [page]="page"
        [rotate]="true"
      ></ngb-pagination>
    </div>
  </div>
</div>
