<div class="d-flex justify-content-center">
  <div class="col-8">
    <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
      <h2 data-cy="AlertEventCreateUpdateHeading" id="jhi-alert-event-heading">Create or edit a Alert Event</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div *ngIf="editForm.controls.id.value !== null" class="row mb-3">
          <label class="form-label" for="field_id">ID</label>
          <input [readonly]="true" class="form-control" data-cy="id" formControlName="id" id="field_id" name="id" type="number" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_code">Code</label>
          <input class="form-control" data-cy="code" formControlName="code" id="field_code" name="code" type="text" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_application_code">Application Code</label>
          <input
            class="form-control"
            data-cy="application_code"
            formControlName="application_code"
            id="field_application_code"
            name="application_code"
            type="text"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_is_sent">Is Sent</label>
          <input class="form-check" data-cy="is_sent" formControlName="is_sent" id="field_is_sent" name="is_sent" type="checkbox" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_alertSubscriber">Alert Subscriber</label>
          <select
            [compareWith]="compareAlertSubscriber"
            class="form-control"
            data-cy="alertSubscriber"
            formControlName="alertSubscriber"
            id="field_alertSubscriber"
            name="alertSubscriber"
          >
            <option *ngIf="!editForm.get('alertSubscriber')!.value" [ngValue]="null" selected></option>
            <option *ngFor="let alertSubscriberOption of alert_subscribersSharedCollection" [ngValue]="alertSubscriberOption">
              {{ alertSubscriberOption.name }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['alertSubscriber'])!.invalid &&
            (editForm.get(['alertSubscriber'])!.dirty || editForm.get(['alertSubscriber'])!.touched)
          "
        >
          <small *ngIf="editForm.get(['alertSubscriber'])?.errors?.required" class="form-text text-danger"> This field is required. </small>
        </div>
      </div>

      <div>
        <button (click)="previousState()" class="btn btn-secondary" data-cy="entityCreateCancelButton" id="cancel-save" type="button">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
          data-cy="entityCreateSaveButton"
          id="save-entity"
          type="submit"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
