<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="application">
      <h2 data-cy="applicationDetailsHeading"><span>Application</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ application.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ application.name }}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
          <span>{{ application.code }}</span>
        </dd>
        <dt><span>Alert Response Codes</span></dt>
        <dd>
          <span>{{ application.alertResponseCodes }}</span>
        </dd>
        <dt><span>Organization</span></dt>
        <dd>
          <div *ngIf="application.organization">
            <a [routerLink]="['/organization', application.organization.id, 'view']">{{ application.organization.code }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/application', application.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
