<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="application">
      <h2 data-cy="applicationDetailsHeading"><span>Application</span></h2>

      <button (click)="regenerateToken()" class="btn btn-info" data-cy="entityDetailsBackButton" type="button">
        <fa-icon icon="sync"></fa-icon>
        &nbsp;<span>Regenerate Token</span>
      </button>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ application.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ application.name }}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
          <span>{{ application.code }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ application.description }}</span>
        </dd>
        <dt><span>Alert Response Codes</span></dt>
        <dd>
          <span>{{ application.alert_response_codes }}</span>
        </dd>
        <dt><span>Organization</span></dt>
        <dd>
          <div *ngIf="application.organization">
            <a [routerLink]="['/organization', application.organization.id, 'view']">{{ application.organization.code }}</a>
          </div>
        </dd>
      </dl>

      <br />
      <h5>Current Token</h5>
      <br />

      <div *ngIf="token">
        <dl class="row jh-entity-details">
          <dt><span>Expiry date</span></dt>
          <dd>
            <span>{{ token.expiry_date }}</span>
          </dd>
          <dt><span>Is Active</span></dt>
          <dd>
            <span>{{ token.is_active }}</span>
          </dd>
          <dt><span>Token</span></dt>
          <dd>
            <span>{{ token.access_token }}</span>
          </dd>
        </dl>
      </div>

      <button (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton" type="submit">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button [routerLink]="['/application', application.id, 'edit']" class="btn btn-primary" type="button">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
