<div class="d-flex justify-content-center">
  <div class="col-8">
    <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
      <h2 data-cy="HttpLogCreateUpdateHeading" id="jhi-http-log-heading">Create or edit a Http Log</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div *ngIf="editForm.controls.id.value !== null" class="row mb-3">
          <label class="form-label" for="field_id">ID</label>
          <input [readonly]="true" class="form-control" data-cy="id" formControlName="id" id="field_id" name="id" type="number" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_request_timestamp">Request Timestamp</label>
          <div class="d-flex">
            <input
              class="form-control"
              data-cy="request_timestamp"
              formControlName="request_timestamp"
              id="field_request_timestamp"
              name="request_timestamp"
              placeholder="YYYY-MM-DD HH:mm"
              type="datetime-local"
            />
          </div>
          <div
            *ngIf="
              editForm.get('request_timestamp')!.invalid &&
              (editForm.get('request_timestamp')!.dirty || editForm.get('request_timestamp')!.touched)
            "
          >
            <small *ngIf="editForm.get('request_timestamp')?.errors?.required" class="form-text text-danger">
              This field is required.
            </small>
            <small [hidden]="!editForm.get('request_timestamp')?.errors?.datetimelocal" class="form-text text-danger">
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_httpMethod">Http Method</label>
          <select class="form-control" data-cy="http_method" formControlName="http_method" id="field_httpMethod" name="http_method">
            <option [ngValue]="null"></option>
            <option *ngFor="let http_method of httpMethodValues" [value]="http_method">{{ http_method }}</option>
          </select>
          <div *ngIf="editForm.get('http_method')!.invalid && (editForm.get('http_method')!.dirty || editForm.get('http_method')!.touched)">
            <small *ngIf="editForm.get('http_method')?.errors?.required" class="form-text text-danger"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_requestUrl">Request Url</label>
          <input
            class="form-control"
            data-cy="request_url"
            formControlName="request_url"
            id="field_requestUrl"
            name="request_url"
            type="text"
          />
          <div *ngIf="editForm.get('request_url')!.invalid && (editForm.get('request_url')!.dirty || editForm.get('request_url')!.touched)">
            <small *ngIf="editForm.get('request_url')?.errors?.required" class="form-text text-danger"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_httpStatusCode">Http Status Code</label>
          <select
            class="form-control"
            data-cy="http_status_code"
            formControlName="http_status_code"
            id="field_httpStatusCode"
            name="http_status_code"
          >
            <option [ngValue]="null"></option>
            <option *ngFor="let http_status_code of httpStatusCodeValues" [value]="http_status_code">{{ http_status_code }}</option>
          </select>
          <div
            *ngIf="
              editForm.get('http_status_code')!.invalid &&
              (editForm.get('http_status_code')!.dirty || editForm.get('http_status_code')!.touched)
            "
          >
            <small *ngIf="editForm.get('http_status_code')?.errors?.required" class="form-text text-danger">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_remoteIPAddress">Remote IP Address</label>
          <input
            class="form-control"
            data-cy="remote_ip_address"
            formControlName="remote_ip_address"
            id="field_remoteIPAddress"
            name="remote_ip_address"
            type="text"
          />
          <div
            *ngIf="
              editForm.get('remote_ip_address')!.invalid &&
              (editForm.get('remote_ip_address')!.dirty || editForm.get('remote_ip_address')!.touched)
            "
          >
            <small *ngIf="editForm.get('remote_ip_address')?.errors?.required" class="form-text text-danger">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_duration">Duration</label>
          <input class="form-control" data-cy="duration" formControlName="duration" id="field_duration" name="duration" type="number" />
          <div *ngIf="editForm.get('duration')!.invalid && (editForm.get('duration')!.dirty || editForm.get('duration')!.touched)">
            <small *ngIf="editForm.get('duration')?.errors?.required" class="form-text text-danger"> This field is required. </small>
            <small [hidden]="!editForm.get('duration')?.errors?.number" class="form-text text-danger">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_requestHeaders">Request Headers</label>
          <input
            class="form-control"
            data-cy="request_headers"
            formControlName="request_headers"
            id="field_requestHeaders"
            name="request_headers"
            type="text"
          />
          <div
            *ngIf="
              editForm.get('request_headers')!.invalid &&
              (editForm.get('request_headers')!.dirty || editForm.get('request_headers')!.touched)
            "
          >
            <small *ngIf="editForm.get('request_headers')?.errors?.required" class="form-text text-danger"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_responseHeaders">Response Headers</label>
          <input
            class="form-control"
            data-cy="response_headers"
            formControlName="response_headers"
            id="field_responseHeaders"
            name="response_headers"
            type="text"
          />
          <div
            *ngIf="
              editForm.get('response_headers')!.invalid &&
              (editForm.get('response_headers')!.dirty || editForm.get('response_headers')!.touched)
            "
          >
            <small *ngIf="editForm.get('response_headers')?.errors?.required" class="form-text text-danger">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_requestURLParameters">Request URL Parameters</label>
          <input
            class="form-control"
            data-cy="request_url_parameters"
            formControlName="request_url_parameters"
            id="field_requestURLParameters"
            name="request_url_parameters"
            type="text"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_requestBody">Request Body</label>
          <input
            class="form-control"
            data-cy="request_body"
            formControlName="request_body"
            id="field_requestBody"
            name="request_body"
            type="text"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_requestCookies">Request Cookies</label>
          <input
            class="form-control"
            data-cy="request_cookies"
            formControlName="request_cookies"
            id="field_requestCookies"
            name="request_cookies"
            type="text"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_responseCookies">Response Cookies</label>
          <input
            class="form-control"
            data-cy="response_cookies"
            formControlName="response_cookies"
            id="field_responseCookies"
            name="response_cookies"
            type="text"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_application">Application</label>
          <select
            [compareWith]="compareApplication"
            class="form-control"
            data-cy="application"
            formControlName="application"
            id="field_application"
            name="application"
          >
            <option *ngIf="!editForm.get('application')!.value" [ngValue]="null" selected></option>
            <option *ngFor="let applicationOption of applicationsSharedCollection" [ngValue]="applicationOption">
              {{ applicationOption.code }}
            </option>
          </select>
        </div>
        <div
          *ngIf="editForm.get(['application'])!.invalid && (editForm.get(['application'])!.dirty || editForm.get(['application'])!.touched)"
        >
          <small *ngIf="editForm.get(['application'])?.errors?.required" class="form-text text-danger"> This field is required. </small>
        </div>
      </div>

      <div>
        <button (click)="previousState()" class="btn btn-secondary" data-cy="entityCreateCancelButton" id="cancel-save" type="button">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
          data-cy="entityCreateSaveButton"
          id="save-entity"
          type="submit"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
