<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <h1 data-cy="registerTitle">Registration as an organization</h1>

      <div class="alert alert-success" *ngIf="success"><strong>Registration saved!</strong> Please check your email for confirmation.</div>

      <div class="alert alert-danger" *ngIf="error"><strong>Registration failed!</strong> Please try again later.</div>

      <div class="alert alert-danger" *ngIf="errorEmailExists"><strong>Email is already in use!</strong> Please choose another one.</div>

      <div class="alert alert-danger" *ngIf="doNotMatch">The password and its confirmation do not match!</div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">
        <!-- Organization name field -->
        <div class="mb-3">
          <label class="form-label" for="orgName">Organization Name</label>
          <input
            type="text"
            class="form-control"
            id="orgName"
            name="orgName"
            placeholder="Organization name"
            formControlName="orgName"
            data-cy="orgName"
          />
          <!-- Validation messages for organization name field -->
          <div *ngIf="registerForm.get('orgName')!.invalid && (registerForm.get('orgName')!.dirty || registerForm.get('orgName')!.touched)">
            <small class="form-text text-danger" *ngIf="registerForm.get('orgName')?.errors?.required">
              Organization name is required.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('orgName')?.errors?.minlength">
              Organization name is required to be at least 2 characters.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('orgName')?.errors?.maxlength">
              Organization name cannot be longer than 50 characters.
            </small>
          </div>
        </div>
        <!-- Organization address field -->
        <div class="mb-3">
          <label class="form-label" for="orgAddress">Organization Address</label>
          <input
            type="text"
            class="form-control"
            id="orgAddress"
            name="orgAddress"
            placeholder="Organization address"
            formControlName="orgAddress"
            data-cy="orgAddress"
          />
          <!-- Validation messages for organization address field -->
          <div
            *ngIf="
              registerForm.get('orgAddress')!.invalid && (registerForm.get('orgAddress')!.dirty || registerForm.get('orgAddress')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="registerForm.get('orgAddress')?.errors?.required">
              Organization address is required.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('orgAddress')?.errors?.minlength">
              Organization address is required to be at least 2 characters.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('orgAddress')?.errors?.maxlength">
              Organization address cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <!-- Organization code field -->
        <div class="mb-3">
          <label class="form-label" for="orgName">Organization Code</label>
          <input
            type="text"
            class="form-control"
            id="orgCode"
            name="orgCode"
            placeholder="Organization Code"
            formControlName="orgCode"
            data-cy="orgCode"
          />
          <!-- Validation messages for organization code field -->
          <div *ngIf="registerForm.get('orgCode')!.invalid && (registerForm.get('orgCode')!.dirty || registerForm.get('orgCode')!.touched)">
            <small class="form-text text-danger" *ngIf="registerForm.get('orgCode')?.errors?.required">
              Organization code is required.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('orgCode')?.errors?.minlength">
              Organization code is required to be at least 2 characters.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('orgCode')?.errors?.maxlength">
              Organization code cannot be longer than 10 characters.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Your email"
            formControlName="email"
            data-cy="email"
          />

          <div *ngIf="registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)">
            <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.required"> Your email is required. </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.invalid"> Your email is invalid. </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.minlength">
              Your email is required to be at least 5 characters.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.maxlength">
              Your email cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="password">New password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="New password"
            formControlName="password"
            data-cy="firstPassword"
          />

          <div
            *ngIf="registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)"
          >
            <small class="form-text text-danger" *ngIf="registerForm.get('password')?.errors?.required"> Your password is required. </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('password')?.errors?.minlength">
              Your password is required to be at least 4 characters.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('password')?.errors?.maxlength">
              Your password cannot be longer than 50 characters.
            </small>
          </div>

          <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password')!.value"></jhi-password-strength-bar>
        </div>

        <div class="mb-3">
          <label class="form-label" for="confirmPassword">New password confirmation</label>
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            name="confirmPassword"
            placeholder="Confirm the new password"
            formControlName="confirmPassword"
            data-cy="secondPassword"
          />

          <div
            *ngIf="
              registerForm.get('confirmPassword')!.invalid &&
              (registerForm.get('confirmPassword')!.dirty || registerForm.get('confirmPassword')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword')?.errors?.required">
              Your confirmation password is required.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword')?.errors?.minlength">
              Your confirmation password is required to be at least 4 characters.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword')?.errors?.maxlength">
              Your confirmation password cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary" data-cy="submit">Register</button>
      </form>

      <div class="mt-3 alert alert-warning">
        <span>If you want to </span>
        <a class="alert-link" routerLink="/login">sign in</a
        ><span
          >, you can try the default accounts:<br />- Administrator (login="admin" and password="admin") <br />- User (login="user" and
          password="user").</span
        >
      </div>
    </div>
  </div>
</div>
