<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="alertSubscriber">
      <h2 data-cy="alertSubscriberDetailsHeading"><span>Alert Subscriber</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ alertSubscriber.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ alertSubscriber.name }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ alertSubscriber.email }}</span>
        </dd>
        <dt><span>Application</span></dt>
        <dd>
          <span *ngFor="let application of alertSubscriber.applications; let last = last">
            <a [routerLink]="['/application', application.id, 'view']">{{ application.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton" type="submit">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button [routerLink]="['/alert-subscriber', alertSubscriber.id, 'edit']" class="btn btn-primary" type="button">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
