<div>
  <div class="d-flex justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <h1 data-cy="loginTitle">Sign in</h1>
      <div *ngIf="authenticationError" class="alert alert-danger" data-cy="loginError">
        <strong>Failed to sign in!</strong> Please check your credentials and try again.
      </div>
      <form (ngSubmit)="login()" [formGroup]="loginForm" class="form" role="form">
        <div class="mb-3">
          <label class="username-label" for="email">email</label>
          <input
            #email
            class="form-control"
            data-cy="email"
            formControlName="email"
            id="email"
            name="email"
            placeholder="Your email"
            type="text"
          />
        </div>

        <div class="mb-3">
          <label for="password">Password</label>
          <input
            class="form-control"
            data-cy="password"
            formControlName="password"
            id="password"
            name="password"
            placeholder="Your password"
            type="password"
          />
        </div>

        <div class="form-check">
          <label class="form-check-label" for="rememberMe">
            <input class="form-check-input" formControlName="rememberMe" id="rememberMe" name="rememberMe" type="checkbox" />
            <span>Remember me</span>
          </label>
        </div>

        <button class="btn btn-primary" data-cy="submit" type="submit">Sign in</button>
      </form>
      <div class="mt-3 alert alert-warning">
        <a class="alert-link" data-cy="forgetYourPasswordSelector" routerLink="/account/reset/request">Did you forget your password?</a>
      </div>

      <div class="alert alert-warning">
        <span>You don't have an account yet?</span>
        <a class="alert-link" routerLink="/account/register">Register a new account</a>
      </div>
    </div>
  </div>
</div>
