<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-token-heading" data-cy="TokenCreateUpdateHeading">Create or edit a Token</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_access_token">Access Token</label>
          <input
            type="text"
            class="form-control"
            name="access_token"
            id="field_access_token"
            data-cy="access_token"
            formControlName="access_token"
          />
          <div
            *ngIf="editForm.get('access_token')!.invalid && (editForm.get('access_token')!.dirty || editForm.get('access_token')!.touched)"
          >
            <small class="form-text text-danger" *ngIf="editForm.get('access_token')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_refresh_token">Refresh Token</label>
          <input
            type="text"
            class="form-control"
            name="refresh_token"
            id="field_refresh_token"
            data-cy="refresh_token"
            formControlName="refresh_token"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_expiry_date">Expiry Date</label>
          <div class="input-group">
            <input
              id="field_expiry_date"
              data-cy="expiry_date"
              type="text"
              class="form-control"
              name="expiry_date"
              ngbDatepicker
              #expiry_dateDp="ngbDatepicker"
              formControlName="expiry_date"
            />
            <button type="button" class="btn btn-secondary" (click)="expiry_dateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_is_active">Is Active</label>
          <input type="checkbox" class="form-check" name="is_active" id="field_is_active" data-cy="is_active" formControlName="is_active" />
          <div *ngIf="editForm.get('is_active')!.invalid && (editForm.get('is_active')!.dirty || editForm.get('is_active')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('is_active')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_application">Application</label>
          <select
            class="form-control"
            id="field_application"
            data-cy="application"
            name="application"
            formControlName="application"
            [compareWith]="compareApplication"
          >
            <option *ngIf="!editForm.get('application')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="applicationOption" *ngFor="let applicationOption of applicationsSharedCollection">
              {{ applicationOption.code }}
            </option>
          </select>
        </div>
        <div
          *ngIf="editForm.get(['application'])!.invalid && (editForm.get(['application'])!.dirty || editForm.get(['application'])!.touched)"
        >
          <small class="form-text text-danger" *ngIf="editForm.get(['application'])?.errors?.required"> This field is required. </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
