<div class="d-flex justify-content-center">
  <div class="col-8">
    <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
      <h2 data-cy="TokenCreateUpdateHeading" id="jhi-token-heading">Create or edit a Token</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div *ngIf="editForm.controls.id.value !== null" class="row mb-3">
          <label class="form-label" for="field_id">ID</label>
          <input [readonly]="true" class="form-control" data-cy="id" formControlName="id" id="field_id" name="id" type="number" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_access_token">Access Token</label>
          <input
            class="form-control"
            data-cy="access_token"
            formControlName="access_token"
            id="field_access_token"
            name="access_token"
            type="text"
          />
          <div
            *ngIf="editForm.get('access_token')!.invalid && (editForm.get('access_token')!.dirty || editForm.get('access_token')!.touched)"
          >
            <small *ngIf="editForm.get('access_token')?.errors?.required" class="form-text text-danger"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_refresh_token">Refresh Token</label>
          <input
            class="form-control"
            data-cy="refresh_token"
            formControlName="refresh_token"
            id="field_refresh_token"
            name="refresh_token"
            type="text"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_expiry_date">Expiry Date</label>
          <div class="input-group">
            <input
              #expiry_dateDp="ngbDatepicker"
              class="form-control"
              data-cy="expiry_date"
              formControlName="expiry_date"
              id="field_expiry_date"
              name="expiry_date"
              ngbDatepicker
              type="text"
            />
            <button (click)="expiry_dateDp.toggle()" class="btn btn-secondary" type="button">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_is_active">Is Active</label>
          <input class="form-check" data-cy="is_active" formControlName="is_active" id="field_is_active" name="is_active" type="checkbox" />
          <div *ngIf="editForm.get('is_active')!.invalid && (editForm.get('is_active')!.dirty || editForm.get('is_active')!.touched)">
            <small *ngIf="editForm.get('is_active')?.errors?.required" class="form-text text-danger"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_application">Application</label>
          <select
            [compareWith]="compareApplication"
            class="form-control"
            data-cy="application"
            formControlName="application"
            id="field_application"
            name="application"
          >
            <option *ngIf="!editForm.get('application')!.value" [ngValue]="null" selected></option>
            <option *ngFor="let applicationOption of applicationsSharedCollection" [ngValue]="applicationOption">
              {{ applicationOption.code }}
            </option>
          </select>
        </div>
        <div
          *ngIf="editForm.get(['application'])!.invalid && (editForm.get(['application'])!.dirty || editForm.get(['application'])!.touched)"
        >
          <small *ngIf="editForm.get(['application'])?.errors?.required" class="form-text text-danger"> This field is required. </small>
        </div>
      </div>

      <div>
        <button (click)="previousState()" class="btn btn-secondary" data-cy="entityCreateCancelButton" id="cancel-save" type="button">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
          data-cy="entityCreateSaveButton"
          id="save-entity"
          type="submit"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
