<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="organization">
      <h2 data-cy="organizationDetailsHeading"><span>Organization</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ organization.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ organization.name }}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
          <span>{{ organization.code }}</span>
        </dd>
        <dt><span>Address</span></dt>
        <dd>
          <span>{{ organization.address }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ organization.email }}</span>
        </dd>
      </dl>

      <!-- <br />
      <h5>Applications</h5>
      <br /> -->

      <!--          <div *ngIf="members">-->
      <!--            <table aria-describedby="page-heading" class="table table-bordered table-hover">-->
      <!--              <thead class="table-active">-->
      <!--              <tr>-->
      <!--                <th scope="col"><span>ر.ت</span></th>-->
      <!--                <th scope="col"><span>الاسم</span></th>-->
      <!--                <th scope="col"><span>الرقم الوطني</span></th>-->
      <!--                <th scope="col"><span>الصفة</span></th>-->
      <!--                <th scope="col"><span>المؤهل العلمي</span></th>-->
      <!--                <th scope="col"><span>جهة العمل الأصلية</span></th>-->
      <!--                <th scope="col"><span>الجنسية</span></th>-->
      <!--                <th scope="col"><span>رقم الهاتف</span></th>-->
      <!--              </tr>-->
      <!--              </thead>-->
      <!--              <tbody>-->
      <!--              <tr *ngFor="let member of members; let i = index">-->
      <!--                <td>{{ i + 1 }}</td>-->
      <!--                <td>{{ member.name }}</td>-->
      <!--                <td>{{ member.nationalNo }}</td>-->
      <!--                <td>{{ member.membershipType | translateMe }}</td>-->
      <!--                <td>{{ member.qualification }}</td>-->
      <!--                <td>{{ member.jobPlace }}</td>-->

      <!--                <td>-->
      <!--                  <div *ngIf="member.countryId">-->
      <!--                    <a>{{ member.countryNameAr }}</a>-->
      <!--                  </div>-->
      <!--                </td>-->
      <!--                <td>{{ member.mobileNo }}</td>-->
      <!--              </tr>-->
      <!--              </tbody>-->
      <!--            </table>-->
      <!--          </div>-->

      <button (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton" type="submit">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button [routerLink]="['/organization', organization.id, 'edit']" class="btn btn-primary" type="button">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
